<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shumanator API Buddy</title>
</head>
<h1>Interact with an API endpoint</h1>
<body>
    <form action="index" method="POST">        
        <div>
            <p>
                <label>Method</label>
                <select id = "methodList" name="method">
                <option value = "GET">GET</option>
                <option value = "POST">POST</option>
                <option value = "PUT">PUT</option>
                <option value = "PATCH">PATCH</option>
                <option value = "DELETE">DELETE</option>
                </select>
                <label for="destinationURL">URL</label>
                <input type="text" id="destinationURL" name="destinationURL" size="50px" >
                <button type="submit">GO</button>
            </p>
        </div>
        <div>
            <p><label for="jsonToSend">JSON to send</label></p>
            <textarea id="jsonToSend" name="jsonToSend" style="height:200px;width:500px"></textarea>

        </div>                
    </form>

    <% if (isResponse) {%>        
        <div>
            <p><label for="jsonRcvd">JSON received</label></p>
            <div>
                <div  style="white-space: pre-wrap;">
                    <pre><%try {%><%=JSON.stringify(jsonRcvd, null, 2);%><%} catch(error){%><%='Returned results could  not be stringified: ' + error%><%}%></pre>   
                </div>
            </div>
            
            <!--style="width:500px; word-wrap: break-word; border: 75px solid coral ;"-->
            <div>
                <button value="goBack" onClick="window.location.href='/'">Clear</button>
            </div>            
        </div>        
    <%}%>  
    
</body>
</html>

<!--
        pre {
  overflow: auto;
  padding: 55px;
  width: 500px;
  overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word
         }
        
        -->